 .responsive-img {
      padding-top: 50px;
      width: auto;
      height: 10%;
    }

    @media (max-width: 768px) {
      .responsive-img {
        width: 100%;
        height: auto;
        max-height: none;
      }
    }

    .text-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }